// Colors
$o-community-color: #5299FF;
$o-enterprise-color: #2269D1;
$o-enterprise-primary-color: #5299FF;

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

$o-label-readonly-background:#EBEBE3;
$o-label-readonly-border:#CCCCCC;

